<html>
    <style> 
        body {
            text-align: center;
            background-color: pink;
        }
        form {
            display: inline-block;
        }
        </style>
    <body>
        <h3>IRIS CLASSIFICATION</h3>  
        <form action='/predict' methods="POST">
            Sepal Length: <input type='text' name='sepal_length'> <br>
            Sepal Width: <input type='text' name='sepal_width'> <br>
            Petal Length: <input type='text' name='petal_length'> <br>
            Petal Width: <input type='text' name='petal_width'> <br>
            Class: {{result}} <br>
            <input type='submit' value='predict'>
        </form>
    </body>
</html>